body {
  font-family: Arial, sans-serif;
  background: #272424;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.chat-container {
  background: rgb(51, 45, 45);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.messages-section {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message.own {
  text-align: right;
  color: #007bff;
}

.typing {
  font-style: italic;
  color: #777;
}

.user-list {
  width: 200px;
  background: #fafafa;
  border-right: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.user-list h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-item {
  padding: 5px 0;
  color: #333;
}
